/*
Color Palette: 
background color: #F2F2F2
font color: #383838 
secondary color: #CDBE78
tertiary color: #CDBE78
*/

/*Can we make the gold strip smaller, like a lot smaller. Also were going to get more images soon
and an email and phone number from WMW. Also just comment above the font from now on for end of sessi
-on comments. Unless obviously you want to comment specifically about a property or something.
Nice work with the image turntable, continue with that.

I spent a lot of my time making the WMW logo have a transparent background. Did not come out perfect but I
prefer it over the white background. It's up to you. I decreased the size of the gold strip, I am not sure
if it is as small as you would like. Further researched for the image carousel slide show thingy.*/

/*I like the size of the bar and the transperent logo. I made the nav bar flex, again can
you make the gold bar small, I don't know why I can't figure that out sorry. I added structure to 
a couple other files, added the requested mission and vision statements, added a image hover effect
and just thre an image on the home page for refrence.*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:wght@300&display=swap');

html {
    font-size: 62.5%;
}

header {
    font-size: 1.5rem;
    text-align: center;
    background-color: #CDBE78;
    padding: 0.3rem;
    margin-top: 0;
    letter-spacing: 0.6rem;
    line-height: .1rem;
    
}


h1 img {
    width: 32rem;
    height: auto;
    
}

body h1 {
    color:#383838;
}

body h2 {
    color:#383838;
}

body h3 {
    color:#383838;
}

body {
    font-family: 'EB Garamond', serif;
    background-color: #F2F2F2;
    color: white;
    margin: 0;
}

.toolbar a:hover
{
    background-color: #CDBE78;
    color: black;
}

.toolbar {
    font-size: 1.5rem;
}

.toolbar a {
    text-decoration: none;
    padding-top: .7rem;
}

.toolbar a:active {
    background-color: #CDBE78;
    color: white;
} 

ul {
  list-style-type: none;
  padding: .5rem;
  overflow: hidden;
  background-color: #383838;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}

li a {
    color: #ffffff;
    text-align:center;
    width: 2rem; 
    height: 1.6rem;
    float:none;
}

input {
    color: black;
    width: 135px;
    float: right;
}

body img{
    width: 20rem;
    height: auto;
}

 body img:hover {
    width: 29rem;
    height: auto;
    transition: .5s ease;
} 

/*I think we should make images bigger if you hover over them. BLIND PEOPLE WOULD LIKE THIS.*/